@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="~/lib/@@microsoft/teams-js/dist/MicrosoftTeams.min.js"></script>
    <script src="~/lib/markdown-it/dist/markdown-it.js"></script>
    <script src="~/lib/adaptivecards/dist/adaptivecards.js"></script>
    <link href="~/css/index.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bluebird/bluebird.min.js"></script>
    <script type="text/javascript">
        let teamId = '@ViewBag.TeamId';
        let tasksAppId = '@ViewBag.TasksAppId';
    </script>
    <script src="~/js/Index.js"></script>
    <script src="~/js/home.js"></script>
    <title>Sample Hub</title>
</head>
<body>
    <button onclick="homeLogin()" id="login" style="display:none;">Login</button>
    <div id="loading" style="display:none;"></div>
    <div class="container" id="content" style="display:none;">
        <div class="banner-logo">
            <div class="new-logo-banner">
                <img src="~/images/energisaLogo.png" alt="logo" class="design-logo">
                <div class="design-logo-title"></div>
            </div>
        </div>
        <div class="news">                       
            <div class="carousel3">
                <div id="news" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner car-card">
                        <div class="carousel-item active pointer" id="newsLink1">
                            <div class="car-head" id="bannersTitle1">Contoso is donating 500K face masks to hospitals in NYC </div>
                            <div class="car-date">March 18, 2020</div>
                            <img class="d-block w-100" id="bannersImage1" src="~/images/energisaboleto.jpg" alt="First slide">
                            <div class="car-desc" id="bannersDescription1">
                                During these tough times, Contoso is stepping up and donating 500K
                                face masks to hospitals in New York City. Babak
                                Shammas, the CEO, said “every single one of us in the Contoso family feel like it’s
                            </div>
                        </div>
                        <div class="carousel-item pointer" id="newsLink2">
                            <div class="car-head" id="bannersTitle2">Contoso is donating 500K face masks to hospitals in NYC </div>
                            <div class="car-date">March 18, 2020</div>
                            <img class="d-block w-100" id="bannersImage2" src="~/images/pipa.jpg" alt="Second slide">
                            <div class="car-desc" id="bannersDescription2">
                                During these tough times, Contoso is stepping up and donating 500K
                                face masks to hospitals in New York City. Babak
                                Shammas, the CEO, said “every single one of us in the Contoso family feel like it’s
                            </div>
                        </div>
                        <div class="carousel-item pointer" id="newsLink3">
                            <div class="car-head" id="bannersTitle3">Contoso is donating 500K face masks to hospitals in NYC </div>
                            <div class="car-date">March 18, 2020</div>
                            <img class="d-block w-100" id="bannersImage3" src="~/images/energisa2.jpg" alt="Third slide">
                            <div class="car-desc" id="bannersDescription3">
                                During these tough times, Contoso is stepping up and donating 500K
                                face masks to hospitals in New York City. Babak
                                Shammas, the CEO, said “every single one of us in the Contoso family feel like it’s
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#news" data-slide-to="0" class="active"></li>
                        <li data-target="#news" data-slide-to="1"></li>
                        <li data-target="#news" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
        <div id="banner" class="wish-bg">
            <div class="main-heading">
                <span id="greet" class="greet"></span>
            </div>
            <div class="sub-heading">
                <span id="tasksCount" class="tasksCount"></span>
            </div>
            <div class="card pointer" id="shifts">
                <div>
                    <div class="date" id="shiftDate"></div>
                    <div class="day" id="shiftDay"></div>
                </div>
                <div class="line" id="line"></div>
                <div>
                    <div class="time" id="shiftHours"></div>
                </div>
                <div>
                    <div class="msg" id="shiftName"></div>
                </div>
            </div>
        </div>
        <div class="card cd2" id="tasks">
            <div id="task1">
                <div class="custom-control custom-radio cs-radio">
                    <input type="radio" id="1" name="1" class="custom-control-input" disabled>
                    <label class="custom-control-label lb lb1" for="1"><span class="lb-flow" id="taskSubject0"></span></label>
                </div>
                <span class="cd2-time" id="taskDueDate0"></span>
            </div>
            <div id="task2">
                <div class="custom-control custom-radio cs-radio1">
                    <input type="radio" id="2" name="2" class="custom-control-input" disabled>
                    <label class="custom-control-label lb lb2" for="2">
                        <span class="lb-flow" id="taskSubject1">
                        </span>
                    </label>
                </div>
                <span class="cd2-time time2" id="taskDueDate1"></span>
            </div>
            <div id="task3">
                <div class="custom-control custom-radio cs-radio1" disabled>
                    <input type="radio" id="3" name="3" class="custom-control-input" disabled>
                    <label class="custom-control-label lb lb3" for="3">
                        <span class="lb-flow" id="taskSubject2"></span>
                    </label>
                </div>
                <span class="cd2-time time2" id="taskDueDate2"></span>
            </div>
            <div class="see-more pointer" style="display:none" id="seemoretasks">Veja mais tarefas</div>
        </div>
        @*
        <div class="feedback pointer" id="survey">
            <img src="~/images/How you feeling 2.svg" alt="how are feeling" class="hw-are-u-feeling" />
        </div>
        *@
        @*
        <div class="percentages pointer" id="report">
            <div class="ht">
                <div class="percen-head">Indicadores</div>
                <div class="see-more2">Veja mais</div>
            </div>
            <div class="centage-block">
                <div class="row custom-row vertical rounded">
                    <div class="pro-card">
                        <span class="percentage-head">Store Sales</span>
                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill bg-red">
                                    <span class="pr-percentage">59%</span>
                                </div>
                                <!-- <span class="data-num">-2</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="pro-card">
                        <span class="percentage-head">Cust Sat</span>
                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill bg-gray">
                                    <span class="pr-percentage">60%</span>
                                </div>
                                <!-- <span class="data-num">+1</span> -->
                            </div>
                        </div>
                    </div>
                    <div class="pro-card">
                        <span class="percentage-head">Minhas vendas</span>
                        <div class="progress-bar">
                            <div class="progress-track">
                                <div class="progress-fill bg-gray">
                                    <span class="pr-percentage">75%</span>
                                </div>
                                <!-- <span class="data-num">+4</span> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        *@
        <div class="announcement">
            <div class="an-head">Anúncios</div>
            <div class="ann-img pointer" id="annoucement">
            </div>
        </div>
        @*
        <div class="section4">
            <div class="video-head">Homenagem ao dia do Eletricista</div>
            <div class="video">
                <iframe class="vd-stream" frameBorder="0" id="stream">
                </iframe>
            </div>
        </div>*@



        <div class="news">
            <div class="news-head">Notícias</div>
            <div class="see-more3 pointer" id="news">Veja mais</div>
            <div class="carousel3">
                <div id="news" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner car-card">
                        <div class="carousel-item active pointer" id="newsLink1">
                            <div class="car-head" id="newsTitle1">Contoso is donating 500K face masks to hospitals in NYC </div>
                            <div class="car-date">March 18, 2020</div>
                            <img class="d-block w-100" id="newsImage1" src="~/images/energisaboleto.jpg" alt="First slide">
                            <div class="car-desc" id="newsDescription1">
                                During these tough times, Contoso is stepping up and donating 500K
                                face masks to hospitals in New York City. Babak
                                Shammas, the CEO, said “every single one of us in the Contoso family feel like it’s
                            </div>
                        </div>
                        <div class="carousel-item pointer" id="newsLink2">
                            <div class="car-head" id="newsTitle2">Contoso is donating 500K face masks to hospitals in NYC </div>
                            <div class="car-date">March 18, 2020</div>
                            <img class="d-block w-100" id="newsImage2" src="~/images/pipa.jpg" alt="Second slide">
                            <div class="car-desc" id="newsDescription2">
                                During these tough times, Contoso is stepping up and donating 500K
                                face masks to hospitals in New York City. Babak
                                Shammas, the CEO, said “every single one of us in the Contoso family feel like it’s
                            </div>
                        </div>
                        <div class="carousel-item pointer" id="newsLink3">
                            <div class="car-head" id="newsTitle3">Contoso is donating 500K face masks to hospitals in NYC </div>
                            <div class="car-date">March 18, 2020</div>
                            <img class="d-block w-100" id="newsImage3" src="~/images/energisa2.jpg" alt="Third slide">
                            <div class="car-desc" id="newsDescription3">
                                During these tough times, Contoso is stepping up and donating 500K
                                face masks to hospitals in New York City. Babak
                                Shammas, the CEO, said “every single one of us in the Contoso family feel like it’s
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#news" data-slide-to="0" class="active"></li>
                        <li data-target="#news" data-slide-to="1"></li>
                        <li data-target="#news" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="working">
            <div class="working-head">Working Now</div>
            <div class="start-cht pointer" id="groupChat">Conversar</div>
            <div class="working-img">
                <div class="avatars">
                    <span class="ava">
                        <img id="memberPicture0" class="avatar" alt-name="img" src="~/images/image2.jpg">
                        <span id="memberName0" class="name"></span>
                    </span>
                    <span class="ava">
                        <img id="memberPicture1" class="avatar" alt-name="img" src="~/images/image1.jpg">
                        <span id="memberName1" class="name"></span>
                    </span>
                    <span class="ava">
                        <img id="memberPicture2" class="avatar" alt-name="img" src="~/images/image5.jpg">
                        <span id="memberName2" class="name"></span>
                    </span>
                    <span class="ava">
                        <img id="memberPicture3" class="avatar" alt-name="img" src="~/images/image4.jpg">
                        <span id="memberName3" class="name"></span>
                    </span>
                    <span class="ava">
                        <img id="memberPicture4" class="avatar" alt-name="img" src="~/images/image8.jpg">
                        <span id="memberName4" class="name"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="new-team">Nossos bots</div>
        <div class="row custom-row">
            <div class="profile-card">
                <div class="card3">
                    <img class="card-img-top img-top" alt="Card image cap" width="400" src="~/images/iconeGlobo.png">
                    <div class="card-body cb">
                        <h4 class="card-title ct mb-0" id="newMemberName0">Viagens</h4>
                    </div>
                    <a id="newMemberChat0" class="btn hi pointer">Acessar</a>
                </div>
            </div>
            <div class="profile-card">
                <div class="card3">
                    <img class="card-img-top img-top" alt="Card image cap" width="400" src="~/images/iconeRH.png">
                    <div class="card-body cb">
                        <h4 class="card-title ct mb-0" id="newMemberName1">RH</h4>
                    </div>
                    <!-- <button class="btn br mr-2 align-self-center">Say hi</button> -->
                    <a id="newMemberChat1" class="btn hi pointer">Acessar</a>
                </div>
            </div>
        </div>
        <div class="apps">
            <div class="row custom-row">
                <div class="app-card">
                    <div class="card4 pointer" id="payStubs">
                        <img class="card-img-top img-top app-img" src="~/images/Paystub.png" alt="Card image cap"
                             width="400">
                        <div class="card-body cb">
                            <h4 class="card-title ct mb-0 app-head">Reserva de Mesas</h4>
                            <p class="card-text designation app-desc">Reserve sua mesa para sua próxima visita ao escritório.</p>
                        </div>
                    </div>
                </div>
                <div class="app-card pointer" id="benefits">
                    <div class="card4">
                        <img class="card-img-top img-top app-img" src="~/images/Benefits.png" alt="Card image cap"
                             width="400">
                        <div class="card-body cb">
                            <h4 class="card-title ct mb-0 app-head">Benefícios</h4>
                            <p class="card-text designation app-desc">Acesse todos os seus benefícios.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row custom-row">
                <div class="app-card2 pointer" id="rewards">
                    <div class="card4">
                        <img class="card-img-top img-top app-img" src="~/images/Rewards.png" alt="Card image cap"
                             width="400">
                        <div class="card-body cb">
                            <h4 class="card-title ct mb-0 app-head">Folheto de Padrão de Entrada</h4>
                            <p class="card-text designation app-desc">Instalação em muro com poste auxiliar duplo T ou de aço galvanizado</p>
                        </div>
                    </div>
                </div>
                <div class="app-card2 pointer" id="kudos">
                    <div class="card4">
                        <img class="card-img-top img-top app-img" src="~/images/Kudos.png" alt="Card image cap"
                             width="400">
                        <div class="card-body cb">
                            <h4 class="card-title ct mb-0 app-head">Manuais</h4>
                            <p class="card-text designation app-desc">Acesse os manuais da equipe</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bt-brand">
            <img src="~/images/energisa-do-bem.svg" alt="Brand" class="brand-img">
        </div>        
        <div class="developedBy">
            <div class="developedBy-head">Developed by DXC Technology and Microsoft</div>
        </div>
</body>
<script src="~/lib/popper.js/umd/popper.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</html>